.label {
  position: relative;
}

.subtitle {
  display: block;
  margin-top: 16px;
  padding: 8px 0;
  font-size: 1.2rem;
}

.input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.number {
  padding-left: 20px;
}

.btn {
  margin: 20px 0;
  padding: 8px;
  background: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
}

.errors {
  position: absolute;
  top: 0;
  left: 40px;
  width: 250px;
  color: rgb(255, 169, 169);
}
